node_modules
npm-debug.log
vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
README.md
desktop.ini
